In [201]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.remote.webelement import WebElement
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import time
import re
import pandas as pd

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [408]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

# opening the page on selenium automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

In [409]:
rank=[]
ranks=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in ranks:
    rank1=i.text
    rank.append(rank1)
ranking = [rank.rstrip('.') for rank in rank]

In [415]:
name=[]
names=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]')
for i in names:
    name1=i.text
    name.append(name1)

artist=[]
artists=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
for i in artists:
    artist1=i.text
    artist.append(artist1)
    
u_date=[]
u_dates=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[5]')
for i in u_dates:
    u_date1=i.text
    u_date.append(u_date1)
    
views=[]
view=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[4]')
for i in u_dates:
    view1=i.text
    views.append(view1)

In [420]:
print(len(ranking),len(name),len(artist),len(u_date),len(views))

30 30 30 30 30

In [422]:
df=pd.DataFrame({'Rank':ranking,'Name':name,'Artist':artist,'Upload Date':u_date,'Views':views})
df

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","June 17, 2016"
1,2,"""Despacito""[7]",Luis Fonsi,"January 12, 2017","January 12, 2017"
2,3,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016","October 8, 2016"
3,4,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018","May 2, 2018"
4,5,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017","January 30, 2017"
5,6,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015","April 6, 2015"
6,7,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014","March 6, 2014"
7,8,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018","May 24, 2018"
8,9,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014","November 19, 2014"
9,10,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018","February 27, 2018"
10,11,"""Gangnam Style""[27]",Psy,"July 15, 2012","July 15, 2012"
11,12,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012","January 31, 2012"
12,13,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018","April 5, 2018"
13,14,"""Axel F""[34]",Crazy Frog,"June 16, 2009","June 16, 2009"
14,15,"""Sugar""[35]",Maroon 5,"January 14, 2015","January 14, 2015"
15,16,"""Roar""[36]",Katy Perry,"September 5, 2013","September 5, 2013"
16,17,"""Counting Stars""[37]",OneRepublic,"May 31, 2013","May 31, 2013"
17,18,"""Sorry""[38]",Justin Bieber,"October 22, 2015","October 22, 2015"
18,19,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018","June 25, 2018"
19,20,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014","October 7, 2014"
20,21,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010","June 4, 2010"
21,22,"""Dark Horse""[42]",Katy Perry,"February 20, 2014","February 20, 2014"
22,23,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018","June 14, 2018"
23,24,"""Faded""[44]",Alan Walker,"December 3, 2015","December 3, 2015"
24,25,"""Perfect""[45]",Ed Sheeran,"November 9, 2017","November 9, 2017"
25,26,"""Let Her Go""[46]",Passenger,"July 25, 2012","July 25, 2012"
26,27,"""Girls Like You""[47]",Maroon 5,"May 31, 2018","May 31, 2018"
27,28,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018","January 26, 2018"
28,29,"""Lean On""[49]",Major Lazer,"March 22, 2015","March 22, 2015"
29,30,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014","April 11, 2014"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [337]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

driver.get("https://www.bcci.tv/")
driver.maximize_window()

In [338]:
International = driver.find_element(By.XPATH, '//a[@class = "nav-link "]') # click button
International.click()

In [362]:
title=[]
mt=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in mt:
    mt1=i.text
    title.append(mt1)

series=[]
seriess=driver.find_elements(By.XPATH,"//h5[@class='match-tournament-name ng-binding']")
for i in seriess:
    series1=i.text
    series.append(series1)
    
place=[]
places=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in places:
    place1=i.text
    place.append(place1)
    
date=[]
dates=driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
for i in dates:
    date1=i.text
    date.append(date1)

time=[]
times=driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']")
for i in times:
    time1=i.text
    time.append(time1)

In [364]:
df1=pd.DataFrame({'Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
df1

,Title,Series,Place,Date,Time
0,Final -,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,London,7 JUN 2023,3:30 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [307]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

driver.get("http://statisticstimes.com/")
driver.maximize_window()

In [309]:
# click on Economy

economy = driver.find_element(By.XPATH, '//a[@href="economy/india-statistics.php"]')
try:
    driver.get(economy.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
    
# click on GDP of Indian states

gdp = driver.find_element(By.XPATH, '//a[@href="india/indian-states-gdp.php"]')
try:
    driver.get(gdp.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [321]:
rank=[]
rnk=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in rnk[:33]:
    rnk1=i.text
    rank.append(rnk1)

state=[]
ste=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in ste[:33]:
    ste1=i.text
    state.append(ste1)
    
gsdp1819=[]
g1819=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
for i in g1819[:33]:
    g1819s=i.text
    gsdp1819.append(g1819s)

gsdp1920=[]
g1920=driver.find_elements(By.XPATH,"//td[3][@class='data']")
for i in g1920[:33]:
    g1920s=i.text
    gsdp1920.append(g1920s)

share=[]
s1819=driver.find_elements(By.XPATH,"//td[5][@class='data']")
for i in s1819[:33]:
    s1819s=i.text
    share.append(s1819s)
    
gdp=[]
gdps=driver.find_elements(By.XPATH,"//td[6][@class='data']")
for i in gdps[:33]:
    gdp1=i.text
    gdp.append(gdp1)

In [322]:
print(len(rank),len(state),len(gsdp1819),len(gsdp1920),len(share),len(gdp))

33 33 33 33 33 33

In [323]:
df2= pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)- at current prices':gsdp1819,'GSDP(19-20)- at current prices':gsdp1920,'Share(18-19)':share,'GDP($ billion)':gdp})
df2

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/  You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [423]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

driver.get("https://github.com/")
driver.maximize_window()

In [424]:
# click on trending

trending = driver.find_element(By.XPATH, '//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [428]:
title=[]
rep=driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h2/a")
for i in rep:
    name1=i.text
    title.append(name1)
    
descr=[]
des=driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/p")
for i in des:
    des1=i.text
    descr.append(des1)
    
count=[]
counts=driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]")
for i in counts:
    count1=i.text
    count.append(count1)
    
language=[]
try:
    languages=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
    for i in languages:
        language1=i.text
        language.append(language1)
except:
    language.append('-')
    
# languages=[i.text for i in driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")]
# for i in languages:
#     try:
#         language.append(i)
#     except:
#         language.append('-')

In [429]:
print(len(title),len(descr),len(count),len(language))

25 25 25 23

In [372]:
df3 = pd.DataFrame({'Repository Title':title,'Repository Description':descr,'Contributors Count':count,})
#'Language Used':language
df3

,Repository Title,Repository Description,Contributors Count
0,facebookresearch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,"5,645"
1,JiauZhang / DragGAN,Implementation of DragGAN: Interactive Point-b...,51
2,google / comprehensive-rust,This is the Rust course used by the Android te...,687
3,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spider一...,617
4,w-okada / voice-changer,リアルタイムボイスチェンジャー Realtime Voice Changer,298
5,Zeqiang-Lai / DragGAN,"Unofficial implementation of ""Drag Your GAN: I...",60
6,pengxiao-song / LaWGPT,"🎉 Repo for LaWGPT, Chinese-Llama tuned with Ch...",288
7,kyegomez / tree-of-thoughts,Plug in and Play Implementation of Tree of Tho...,62
8,Blazity / next-enterprise,💼 An enterprise-grade Next.js boilerplate for ...,110
9,kamiyaa / joshuto,ranger-like terminal file manager written in Rust,79
10,iryna-kondr / scikit-llm,Seamlessly integrate powerful language models ...,87
11,0nutation / SpeechGPT,SpeechGPT: Empowering Large Language Models wi...,17
12,UFund-Me / Qbot,[🔥updating ...] 自动量化交易机器人 Qbot is an AI-orient...,177
13,casbin / casbin,An authorization library that supports access ...,"1,569"
14,adams549659584 / go-proxy-bingai,⭐ 自行搭建的可先用 ModHeader 添加 X-Forwarded-For 请求头，对应...,682
15,BlinkDL / RWKV-LM,RWKV is an RNN with transformer-level LLM perf...,483
16,jaywalnut310 / vits,VITS: Conditional Variational Autoencoder with...,859
17,csunny / DB-GPT,Interact your data and environment using the l...,398
18,lllyasviel / ControlNet,Let us control diffusion models!,"1,830"
19,anse-app / anse,"Supercharged experience for ChatGPT, DALL-E an...",129
20,ricklamers / gpt-code-ui,An open source implementation of OpenAI's Chat...,111
21,Exafunction / codeium.vim,"Free, ultrafast Copilot alternative for Vim an...",36
22,ysymyth / tree-of-thought-llm,Tree of Thoughts: Deliberate Problem Solving w...,29
23,mlc-ai / mlc-llm,"Enable everyone to develop, optimize and deplo...",453
24,ymcui / Chinese-LLaMA-Alpaca,中文LLaMA&Alpaca大语言模型+本地CPU/GPU部署 (Chinese LLaMA...,943

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [208]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

driver.get("https://www.billboard.com/")
driver.maximize_window()

In [209]:
#Clicking on charts
url=driver.find_elements(By.XPATH,"//a[@class='c-link  lrv-a-unstyle-link lrv-u-font-size-18@desktop lrv-u-color-grey:hover u-color-brand-secondary:hover@desktop-max u-padding-a-1@desktop-max lrv-u-padding-tb-025 lrv-u-display-block']")
urls=url[0].get_attribute('href')
driver.get(urls)

# Show all charts by view charts
button=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1"]')
button.click()

In [244]:
Name=[]
s1=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
s2=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
names = s1 + s2
for i in names:
    name1=i.text
    Name.append(name1)

Artist=[]
a1=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
a2=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
artists= a1 + a2
for i in artists:
    artist1=i.text
    Artist.append(artist1)

lwrank=[]
lwr1=driver.find_elements(By.XPATH,"//li[4]/span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
lwr2=driver.find_elements(By.XPATH,"//li[4]/span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
lwranks= lwr1 + lwr2
for i in lwranks:
    lwrank1=i.text
    lwrank.append(lwrank1)
lw_rank = [x.strip() for x in lwrank if x.strip() != ""]

peakrank=[]
pr1=driver.find_elements(By.XPATH,"//li[5]/span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
pr2=driver.find_elements(By.XPATH,"//li[5]/span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
peakranks= pr1 + pr2
for i in peakranks:
    peakrank1=i.text
    peakrank.append(peakrank1)
p_rank = [x.strip() for x in peakrank if x.strip() != ""]

week=[]
w1=driver.find_elements(By.XPATH,"//li[6]/span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
w2=driver.find_elements(By.XPATH,"//li[6]/span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
weeks= w1 + w2
for i in weeks:
    week1=i.text
    week.append(week1)

In [251]:
print(len(Name),len(Artist),len(lw_rank),len(p_rank),len(week))

100 100 100 100 100

In [250]:
df4 = pd.DataFrame({'Song Name':Name,'Artist Name':Artist,'Last Week Rank':lw_rank,'Peak Position':p_rank,'Week on Charts':week})
df4

,Song Name,Artist Name,Last Week Rank,Peak Position,Week on Charts
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

# 6. Scrape the details of Highest sellingnovels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [146]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [147]:
book=[]
author=[]
volume=[]
publisher=[]
genre=[]
for j in range(1,101):
    for i in driver.find_elements(By.XPATH, "//tbody/tr[{}]/td[2]".format(j)):
        book.append(i.text)
    for i in driver.find_elements(By.XPATH, "//tbody/tr[{}]/td[3]".format(j)):
        author.append(i.text)
    for i in driver.find_elements(By.XPATH, "//tbody/tr[{}]/td[4]".format(j)):
        volume.append(i.text)
    for i in driver.find_elements(By.XPATH, "//tbody/tr[{}]/td[5]".format(j)):
        publisher.append(i.text)
    for i in driver.find_elements(By.XPATH, "//tbody/tr[{}]/td[6]".format(j)):
        genre.append(i.text)

In [148]:
print(len(book),len(author),len(volume),len(publisher),len(genre))

100 100 100 100 100

In [150]:
df5 = pd.DataFrame({'Book Name':book,'Author Name':author,'Volumes Sold':volume,'Publisher':publisher,'Genre':genre})
df5

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [138]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

driver.get("https://www.imdb.com/list/ls095964455/")

In [139]:
Name=[]
Year=[]
Genre=[]
Time=[]
Rating=[]
Votes=[]
try:
    for i in driver.find_elements(By.XPATH, "//div[@class='lister-item mode-detail']/div[2]/h3/a"):
        Name.append(i.text)
except NoSuchAttributeException as e:
    Name.append('--')
try:
    for i in driver.find_elements(By.XPATH, "//span[@class='lister-item-year text-muted unbold']"):
        Year.append(i.text)  
except NoSuchAttributeException as e:
     Year.append('--')
try:
    for i in driver.find_elements(By.XPATH, "//p[@class='text-muted text-small']/span[5]"):
        Genre.append(i.text)  
except NoSuchAttributeException as e:
    Genre.append('--')
try:
    for i in driver.find_elements(By.XPATH, "//p[@class='text-muted text-small']/span[3]"):
        Time.append(i.text)  
except NoSuchAttributeException as e:
    Time.append('--')  
try:
    for i in driver.find_elements(By.XPATH, "//div[@class='ipl-rating-widget']/div/span[2]"):
        Rating.append(i.text)  
except NoSuchAttributeException as e:
    Rating.append('--')   
try:
    for i in driver.find_elements(By.XPATH, "//span[@name='nv']"):
        Votes.append(i.text)  
except NoSuchAttributeException as e:
    Votes.append('--')

In [140]:
print(len(Name),len(Year),len(Genre),len(Time),len(Rating),len(Votes))

100 100 100 100 100 100

In [141]:
df6 = pd.DataFrame({'Name':Name,'Year':Year,'Genre':Genre,'Time':Time,'Rating':Rating,'Votes':Votes})
df6

,Name,Year,Genre,Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,161,658"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,241,951"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,026,959"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,104"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,196"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,655"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,687"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,600"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,193"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,037"

# 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [199]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

# opening the naukari page on selenium automated chrome browser
driver.get("https://archive.ics.uci.edu/")

In [200]:
search=driver.find_element(By.XPATH,'//span[2][@class="whitetext"]/a/font/b')
search.click()

In [135]:
dataset=[]
datasets = driver.find_elements(By.XPATH, '//p[@class="normal"]/b/a')
for i in datasets:
    dataset1=i.text
    dataset.append(dataset1)

dtype = []
dtypes = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in dtypes[1:624]:
    dtype1=i.text
    dtype.append(dtype1)
    
task =[]
tasks = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in tasks[1:624]:
    task1=i.text
    task.append(task1)
    
atype =[]
atypes = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in atypes[1:624]:
    atype1=i.text
    atype.append(atype1)
    
instances = []
instance = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in instance[1:624]:
    instance1=i.text
    instances.append(instance1)
    
attributes = []
attribute = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in attribute[1:624]:
    attribute1=i.text
    attributes.append(attribute1)
    
year = []
years = driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in years[1:624]:
    year1=i.text
    year.append(year1)

In [136]:
print(len(dataset),len(dtype),len(task),len(atype),len(instances),len(attributes),len(year))

622 622 622 622 622 622 622

In [137]:
df7 = pd.DataFrame({'Dataset':dataset,'Data type':dtype,'Task':task, 'Attribute type':atype,'No of Instances':instances,'No of Attribute':attributes,'YEAR':year})
df7

,Dataset,Data type,Task,Attribute type,No of Instances,No of Attribute,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

In [392]:
# first connect to the driver
driver=webdriver.Chrome(r"S:\DS_CLASSES\FlipRobo\DS2303\6. Selenium-WebScrapping\chromedriver.exe")

# opening the naukari page on selenium automated chrome browser
driver.get("https://www.naukri.com/hr-recruiters-consultants")


designation=driver.find_element(By.CLASS_NAME,"sugInp")
designation.send_keys('Data Science')

In [393]:
search=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search.click()

In [394]:
name=[]
desig=[]
comp=[]
loc=[]
recruiter=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//p[@class='highlightable']")]
for i in recruiter:
    try:
        name.append(i[0])
    except:
        name.append('-')
    try:
        desig.append(i[1])
    except:
        desig.append('-')
    try:
        comp.append(i[2])
    except:
        comp.append('-')
    try:
        loc.append(i[3])
    except:
        loc.append('-')

In [397]:
# names = driver.find_elements(By.XPATH, '//span[@class="fl ellipsis"]')
# for i in names:
#     name1=i.text
#     name.append(name1)
    
# desi = driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')
# for i in desi:
#     desi1=i.text
#     designation.append(desi1)
    
# comp = driver.find_elements(By.XPATH, '//a[2][@class="ellipsis"]')
# for i in comp:
#     comp1=i.text
#     company.append(comp1)
skills=[]    
skill = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')
for i in skill:
    skill1=i.text
    skills.append(skill1)

In [398]:
print(len(name),len(desig),len(comp),len(loc),len(skills))

50 50 50 50 50

In [399]:
df8 = pd.DataFrame({'Name':name,'Designation':desig,'Company':comp, 'Skills for Hire':skills,'Location':loc})
df8

,Name,Designation,Company,Skills for Hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai